.post-list {
    margin-bottom: 2rem;
    display: block;
}

.post-list .list-group-item .title {
    cursor: pointer;
}

.post-list .list-group-item:hover {
    background-color: #383838;
}

.post-list   .list-group-item {
    margin-bottom: 1rem;
}

.list-group-item .active {
    background-color: #50cc37;

}

.post-list .title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    color: rgb(137, 219, 60);
}