.header {
    margin-top: 2rem;
    padding-left: 10px;
    margin-bottom: 2rem;
  }
  
  .header div {
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
  }
  
 
  .header a {
    color: #fff;
  }
  .header a:hover {
    text-decoration: none;
    color: #00bc8c;

  }
  
  .header h3 a {
    color: white;
  }
  
  .header h3 a:hover {
    color: #00bc8c;
  }
  